
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hello World (from the view)</h1>
        <h2>@ViewBag.Greeting</h2>
        <h3>@ViewBag.Time</h3>
        <p>We' re going to have an exciting party. <br />
        <img src="https://www.imgworlds.com/wp-content/uploads/2015/11/15-PRIVATEPARITES-BIRTHDAYPARTIES600X300.jpg">
        </p>
        <a asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>
